<mat-card>
    <h1>Add Student</h1>
    <form #addForm = "ngForm">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput
                [(ngModel)] = "name"
                name = "name"
                required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Math</mat-label>
                <input matInput [(ngModel)] = "math"
                name = "math"
                type = "math"
                required>             
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Psycho</mat-label>
                <input matInput [(ngModel)] = "psycho"
                name = "psycho"
                type = "psycho"
                required>             
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Is Payed?</mat-label>
                <mat-select place-holder = "Is Payed?" [(ngModel)] = "payed" name = "payed" required>
                  <mat-option *ngFor="let payed of arrPayed" [value]="payed">
                    {{payed}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
        </div>
        <div>
            <button mat-raised-button color="primary" (click) = "predict()" *ngIf = "predictButton">
                Predict
            </button>
        </div>
        <div *ngIf = "!predictButton">
            <mat-form-field appearance="fill">
                <mat-label>Predict</mat-label>
                <mat-select [(ngModel)] = "result" name = "result" required>
                  <mat-option *ngFor="let result of arrRes" [value]="result">
                    {{result}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
        </div>
        <p></p>
        <div  *ngIf = "!predictButton">
            <button mat-raised-button color="primary" (click) = "addStudent()">
                Save
            </button>
            <button mat-raised-button color="primary" (click) = "closeForm()">
                Cancel
            </button>
        </div>
        <div>
            <button mat-raised-button (click) = "closeForm()">
                Cancel
            </button>
        </div>
    </form>
</mat-card>
